.mainPage{
    text-align: center;
}
.mainAppBody{
        width: 650px;
        display: inline-flex;
        background-color: #efefef;
}
.footer{
    width: 650px;
    background-color: #efefef;
    height: 100px;
    display: inline-flex;
}
.footer > span{
        padding: 30 0 0 200px;
        font-style: italic;
}
.container{
    width: 450px;
    padding-top: 5px;
}
.card-body{
    width: 150px;
    height: 150px;
    display: inline-block;
    text-align: center;
    font-size: 100px;
    color: #FFFFFF;
}
.control{
    width: 200px
}
.control > input{
    width: 150px;
    height: 40px;
    margin: 20 20 0 20;
    background-color: #72c3dc;
    border-radius: 10px;
    border: none;
    border-bottom: 5px solid #6f98a8;
}
@media only screen and (min-device-width: 376px){
    .card-body{
        border-left: none !important;
    }
}
@media only screen and (max-device-width: 375px){
    .mainPage{
        text-align: center;
        width: 375px;
    }
    h4{
        background-color: #000000;
        color: #FFFFFF;
        height: 70px;
        font-size: 30px;
        margin-bottom: 10px;
    }
    .mainAppBody{
        background-color: #ffffff;
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }
    .footer{
        background-color: #ffffff;
        width: 75%;
        height: 50px;
    }
    .footer > span{
        padding: 20 0 0 20;
    }
    .container{
        background-color:#ffffff;
        width: 80%;
        margin-left: 40px;
        margin-top: 20px;
    }
    .card-body{
        display: block;
        width: 100%;
        height: 40px;
        font-size: 30px;
        color: #000000;
        background-color: #efefef !important;
        margin-bottom: 10px;
    }
    .cardIcon{

    }
    .control{
        display: flex;
        margin-left: 50px;
        width: 75%;
    }
}